.vscode
build
install
log
dingo_stats_*
matlab/slprj
matlab/soc_estimation.slxc
matlab/battery_data.mat
matlab/+bus_conv_fcns/
matlab/build_ros2_model.sh
matlab/ros2_sim.slx
matlab/ros2_sim.slxc
matlab/ros2_sim_ert_rtw/
matlab/src/
matlab/export*.csv
soc_estimation/export*.csv
soc_estimation/.venv
soc_estimation/__pycache__
soc_estimation/.idea
.idea
