.venv
.vscode
build
install
log
dingo_stats_*
matlab/slprj
matlab/soc_estimation.slxc
matlab/battery_data.mat
matlab/+bus_conv_fcns/
matlab/build_ros2_model.sh
matlab/ros2_sim.slx
matlab/ros2_sim.slxc
matlab/ros2_sim_ert_rtw/
matlab/src/
matlab/SOC_grt_rtw
matlab/soc_export/
matlab/export*.csv
soc_estimation/export*.csv
soc_estimation/.venv
soc_estimation/.idea
.idea
soh_estimation/export*
soh_estimation/.venv
current_measurement/peacefair/client
ros2/soh.txt
**/__pycache__
